.topcontainer{
  background-color: #E4F9F5;
  position: relative;
  padding-top: 100px;
}
body{
  margin: 0;
  text-align: center;
  color: #40514E;
}
h1{
  font-size: 400%;
  font-family: 'Sacramento';
  width: 500px;
  margin:50px auto 0 auto;
  color: #66BFBF;
}
h2{
  font-family: Montserrat;
  font-size: 2.5rem;
  color: #66BFBF;
}
h3{
  font-family: Montserrat;
  color: #11999E;
}
.topcloud{
  position:absolute;
  right: 300px;
  top: 40px;
}
.bottamcloud{
  position: absolute;
  left: 250px;
  bottom: 300px;
}
.profilepic{
  height: 20%;
  width: 20%;
}
a{
  color: #11999E;
}
.subtitle{
  font-weight: normal;
}
.skill-row{
  width: 50%;margin:100px auto 100px auto;
  text-align: left;line-height: 2;
}
.program{
  width:25%;
  margin-left: 30px;
  float: right;
}
.data{
  width: 25%;
  margin-right: 30px;
  float: left;
}
.intro{
  width: 30%;margin: auto;
}
p
{
  font-family: Montserrat;
  line-height: 2;

}
.middle-container{
  margin: 100px 0;
}
hr{

  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}
.contactmessage{
  width: 40%;
  margin: 40px auto 60px;
}
.btn {
	box-shadow: 0 0 0 2px #9fb4f2;
	background-color:#7892c2;
	border-radius:10px;
	border:1px solid #4e6096;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:19px;
	padding:12px 37px;
	text-decoration:none;
	text-shadow:0 1px 0 #283966;
}
.btn:hover {
	background-color:#476e9e;
}
.myButton:active {
	position:relative;
	top:1px;
}
.bottom-container{
  background-color: #a4c5c6;
  padding: 50px 0 20px;
}
a{
  color: #481380;
  font-family: Montserrat;
  text-decoration:none;
  margin:40px 60px 40px;

}
a:hover{
  color: #f5fcc1;
}
